* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lightcoral;
}
.container {
    width: 730px;
    margin: 0 auto;
    padding: 0 20px;
}
.card-title {
    color: #fff;
    text-align: center;
    margin: 30px 0 25px;
}
ul {
    list-style: none;
}
.card-list {
    margin: 0 auto;
    margin-bottom: 25px;
}
.card-item {
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    padding: 30px 50px;
}
.card-item + .card-item {
    margin-left: 20px;
}
.card-item-title {
    margin-bottom: 20px;
}
.card-item-subtitle {
    font-size: 14px;
}
.card-item-list li {
    color: lightcoral;
    margin-top: 20px;
}
.card-link {
    display: inline-block;
    width: 690px;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px 0;
    color: #000;
    background-color: rgb(219, 114, 114);
    font-size: 14px;
    margin-bottom: 25px;
}
.card-link span {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
}
.card-text {
    color: #fff;
    text-align: center;
    font-size: 13px;
}